@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  padding-border: 0;
  padding-outline: 0;
  padding-font-size: 100%;
  padding-background: transparent; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

strong {
  font-weight: bold; }

textarea, input {
  outline: medium none; }

textarea {
  resize: none; }

input:focus, textarea:focus, button:focus {
  outline: medium none; }

input:active, textarea:active, button:active {
  outline: medium none; }

ul {
  list-style: none; }

.container {
  width: 1240px;
  padding-right: 0;
  padding-left: 0; }

.row {
  margin-right: -10px;
  margin-left: -10px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 10px;
  padding-left: 10px; }

body {
  background-color: #ffffff; }

@font-face {
  font-family: 'DINPro-Regular';
  src: url("../fonts/DINPro-Regular.eot");
  src: local("☺"), url("../fonts/DINPro-Regular.woff") format("woff"), url("../fonts/DINPro-Regular.ttf") format("truetype"), url("../fonts/DINPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.clearfix {
  clear: both; }

.marg_bot_90 {
  margin-bottom: 90px; }

* {
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box; }

input {
  width: 100%; }

h2 {
  font-size: 30px;
  margin-bottom: 50px; }

p {
  font-size: 18px; }

span {
  font-size: 18px; }

.header_top {
  height: 127px;
  padding-top: 32px;
  overflow: hidden; }

.header_top h1 {
  text-indent: -9999px;
  height: 0; }

.header_top .logo {
  float: left; }

.header_top .search {
  float: left;
  margin: 6px 0 0 105px;
  position: relative;
  width: 672px;
  height: 45px; }

.header_top .search .input {
  border: 1px solid #e0e0e0;
  padding: 0 20px 0 17px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 15px;
  color: #bcbcbc;
  font-style: italic;
  height: 100%;
  width: 630px; }

.header_top .search .submit {
  position: absolute;
  top: 0;
  right: 21px;
  width: 42px;
  height: 45px;
  cursor: pointer;
  background: url(../img/go.png) center center no-repeat;
  border: none; }

.header_top .count {
  float: right; }

.header_top .count ul {
  margin-bottom: 10px; }

.header_top .count ul li {
  display: inline-block;
  height: 45px;
  width: 30px;
  margin: 0 1px;
  background: url(../img/count-bg.png) no-repeat;
  font-family: "DINPro-Regular";
  font-size: 29px;
  color: #404040;
  text-align: center;
  padding-top: 1px; }

.header_top .count span {
  display: block;
  font-family: "DINPro-Regular";
  font-size: 13px;
  color: #404040;
  text-align: center; }

.header_bottom {
  height: 53px;
  background: url(../img/header-bottom-bg.png);
  padding-top: 15px; }

.header_bottom .header_nav {
  float: left; }

.header_bottom .header_nav ul li {
  display: inline-block;
  padding: 0 33px;
  position: relative; }

.header_bottom .header_nav ul li a {
  font-size: 15px;
  color: #ffffff;
  text-transform: uppercase; }

.header_bottom .header_nav ul li:after {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  background: url(../img/nav-line.png) no-repeat;
  width: 3px;
  height: 90px;
  top: 3px;
  right: 0; }

.header_bottom .header_nav ul li:first-child {
  padding: 0 33px 0 0; }

.header_bottom .header_nav ul li:last-child:after {
  content: none; }

.header_bottom .chosen {
  float: right; }

.header_bottom .chosen img {
  vertical-align: top;
  padding-top: 5px; }

.header_bottom .chosen a {
  text-transform: uppercase;
  border-bottom: 1px dashed #ffffff;
  color: #ffffff;
  padding-top: 8px;
  overflow: hidden;
  margin: 0 3px 0 7px;
  font-size: 15px;
  vertical-align: top; }

.header_bottom .chosen a:hover {
  border-bottom: 1px dashed #777777;
  text-decoration: none;
  color: #777777; }

.header_bottom .chosen span {
  font-size: 15px;
  color: #ffffff; }

.slogan {
  background: url(../img/slogan-bg.png) center center no-repeat;
  padding: 15px 0 30px; }

.slogan h2 {
  font-style: italic;
  font-size: 55px;
  color: #ffffff;
  margin-bottom: 10px; }

.slogan h3 {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 17px;
  color: #ffffff; }
