html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td 
	margin: 0
	padding: 0
  border: 0
  outline: 0
  font-size: 100%
  background: transparent

blockquote, q 
  quotes: none

blockquote:before, blockquote:after, q:before, q:after 
  content: ''
  content: none

ins 
  text-decoration: none

del 
  text-decoration: line-through

table 
  border-collapse: collapse
  border-spacing: 0

strong 
  font-weight: bold

textarea, input 
  outline: medium none

textarea 
  resize: none

input:focus, textarea:focus, button:focus 
  outline: medium none

input:active, textarea:active, button:active 
  outline: medium none

ul
  list-style: none

.clearfix
  clear: both  

@font-face 
	font-family: 'DINPro-Regular'
	src: url('../fonts/DINPro-Regular.eot')
	src: local('☺'), url('../fonts/DINPro-Regular.woff') format('woff'), url('../fonts/DINPro-Regular.ttf') format('truetype'), url('../fonts/DINPro-Regular.svg') format('svg')
	font-weight: normal
	font-style: normal

$dinpro: 'DINPro-Regular'

@font-face
	font-family: "Open Sans Light Italic"
	src:url("../fonts/OpenSans-LightItalic.eot?") format("eot"),
	url("../fonts/OpenSans-LightItalic.woff") format("woff"),
	url("../fonts/OpenSans-LightItalic.ttf") format("truetype"),
	url("../fonts/OpenSans-LightItalic.svg#OpenSansLight-Italic") format("svg")

$OpenSansLI: 'Open Sans Light Italic'

.container 
	max-width: 1240px
	width: 100%
	padding-right: 0
	padding-left: 0

.row 
  margin-right: -10px
  margin-left: -10px

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12     
  padding-right: 10px
  padding-left: 10px

* 
  font-family: 'PT Sans', sans-serif
  // font-family: 'Open Sans', sans-serif
  font-size: 12px
  box-sizing: border-box
  -moz-box-sizing: border-box  

body
	background-color: #ffffff

section
	margin-bottom: 40px

input::-webkit-input-placeholder color:inherit
input::-moz-placeholder          color:inherit/* Firefox 19+ */
input:-moz-placeholder           color:inherit/* Firefox 18- */
input:-ms-input-placeholder      color:inherit

h2
	font-family: $OpenSansLI san-serif
	font-style: italic
	font-weight: bold
	font-size: 55px
	color: #ffffff
	margin-bottom: 10px

h3
	font-family: $OpenSansLI san-serif
	font-style: italic
	font-weight: light

.new_string
  display: block

.header_top
	height: 127px
	padding-top: 32px
	overflow: hidden
	h1
		text-indent: -9999px
		height: 0
	.logo
		float: left
	.search
		float: left
		margin: 6px 0 0 105px
		position: relative		
		max-width: 672px
		height: 45px
		.input	
			border: 1px solid #e0e0e0
			padding: 0 20px 0 17px
			border-radius: 3px
			font-size: 15px
			color: #bcbcbc
			font-style: italic
			height: 100%
			width: 630px  		
		.submit   
  		position: absolute
  		top: 0
  		right: 21px
 			width: 42px
  		height: 45px
  		cursor: pointer
  		background: url(../img/go.png) center center no-repeat
  		border: none
	.count
		float: right
		ul
			margin-bottom: 10px
			li 
				display: inline-block
				height: 45px
				width: 30px
				margin: 0 1px
				background: url(../img/count-bg.png) no-repeat	
				font-family: $dinpro 			
				font-size: 29px
				color: #404040
				text-align: center
				padding-top: 1px
		span
			display: block
			font-family: $dinpro 	
			font-size: 13px
			color: #404040
			text-align: center
.header_bottom
	height: 53px
	background: url(../img/header-bottom-bg.png)	
	padding-top: 15px	
	.header_nav
		float: left
		position: relative
		ul
			.header_nav_item
				display: inline-block
				padding: 0 33px
				position: relative
				a
					font-size: 15px
					color: #ffffff
					text-transform: uppercase					
				a:hover
					text-decoration: none
					color: #ff5a3f
				span
					display: none
					content: ""
					position: absolute
					bottom: -16px
					z-index: 3000
					left: 0
					right: 0
					margin-left: auto
					margin-right: auto
					width: 0
					height: 0
					border-style: solid
					border-width: 0 8px 13px 8px
					border-color: transparent transparent #ffffff transparent			
			.header_nav_item:after
				content: ""
				position: absolute
				right: 0
				background:url(../img/nav-line.png) no-repeat
				width: 3px
				height: 90px
				top: 6px
				right: 0					
			.header_nav_item:first-child
				padding: 0 33px 0 0 
			.header_nav_item:last-child:after
				content: none
		.hover_menu			
			display: none
			position: absolute
			max-width: 680px
			width: 100%
			height: auto
			top: 20px
			left: 0			
			z-index: 100
			border-radius: 4px
			-webkit-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.75)
			-moz-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.75)
			box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.75)
			.hover_menu_top
				height: 18px
				background: transparent
			.hover_menu_bottom
				padding: 20px
				background: #ffffff
				.hover_wrapper
					display: inline-block
					padding: 0 15px
					text-align: left
					margin-right: 10px
					background: #ffffff
					p 
						margin-bottom: 5px
						display: inline-block
						font-size: 17px
						color: #000000
						font-weight: bold
						line-height: 24px
					ul
						li
							margin-bottom: 3px
							display: block
							a
								font-size: 15px
								color: #000000
								line-height: 29px	
								text-transform: none
						li:last-child
							a
								color: #ff5a3f
								padding-top: 5px
	.chosen
		float: right
		img
			vertical-align: top
			padding-top: 5px
		a
			text-transform: uppercase
			border-bottom: 1px dashed #ffffff
			color: #ffffff
			padding-top: 8px
			overflow: hidden
			margin: 0 3px 0 7px
			font-size: 15px
			vertical-align: top
		a:hover
			border-bottom: 1px dashed #777777
			text-decoration: none
			color: #777777
		span
			font-size: 15px
			color: #ffffff
.slogan
	background: url(../img/slogan-bg.png) center center no-repeat
	padding: 15px 0 30px	
	h3
		font-family: $OpenSansLI
		font-size: 17px
		color: #ffffff
.slider
	height: 502px	
	.container
		height: 100%
		.bxslider
			height: 502px
			li					
				width: 100%
				height: 100%
				div
					padding: 65px 0 0 80px
					height: 100%		
					.slide_title
						text-align: left
						font-size: 50px
						line-height: 60px
						margin-bottom: 40px
						span
							display: block
							font-family: inherit
							font-weight: inherit
							font-style: inherit
							font-size: inherit
					.slide_description
						font-size: 17px
						color: #404040
						text-align: left
						margin-bottom: 40px
						line-height: 26px
					.slide_price
						font-family: $dinpro
						font-size: 111px
						color: #ff5a3f	
						span	
							font-family: inherit
							color: inherit
							font-size: 50px
				.slide1 													
					background: url(../img/slider-img1.png) no-repeat top
				.slide2 
					background: url(../img/slider-img1.png) no-repeat top
				.slide3 
					background: url(../img/slider-img1.png) no-repeat top
		.bx-pager
			position: absolute 		
			bottom: 0px
			height: 26px
			width: 100%
			padding-top: 10px
			background: url(../img/slider-pagin-bg.png) no-repeat center bottom
			a
				height: 13px
				width: 13px
				background: #e0e0e0
				border-radius: 50% 
				padding-top: 11px
				font-size: 0
			a.pager-active
				background: #ff5a3f 
		.bx-prev 
			position: absolute
			left: -22px
			top: 45%
			height: 78px
			width: 44px
			background: url(../img/slider-prev.png) center no-repeat
		.bx-next 
			position: absolute
			right: -22px
			top: 45%
			height: 78px
			width: 44px
			background: url(../img/slider-next.png) center no-repeat
		.bx-prev:hover,.bx-next:hover
			opacity: 0.7
.search_goods
	.container
		padding: 40px
		background: url(../img/search-goods-bg.png)
		border-radius: 3px
		.search_goods_form
			position: relative		
			max-width: 910px
			width: 100%
			height: 60px
			float: left
			.input	
				border: none
				padding: 0 20px
				border-radius: 3px
				font-size: 15px
				color: #bcbcbc
				font-style: italic
				height: 100%
				width: 100%		
			.submit   
	  		position: absolute
	  		top: 0
	  		right: 21px
	 			width: 40px
	  		height: 60px
	  		cursor: pointer
	  		background: url(../img/go-big.png) center center no-repeat
	  		border: none
		#search_goods_button
			float: right
			height: 60px
			width: 230px
			background: #ff5a3f
			border-radius: 3px
			color: #ffffff
			font-size: 13px
			text-transform: uppercase
			text-align: center
			padding: 22px 0
			border: none
		#search_goods_button:hover
			transform: scale(1.05)	
			-webkit-transform: scale(1.05)	
.main_menu
	.container
		ul
			list-style: none
			.main_menu_item
				height: 360px
				margin-bottom: 20px
				overflow: hidden
				position: relative
				img
					display: block
					width: 100%
					height: auto
				.main_menu_item_bg
					position: absolute
					height: 80px
					background-color: #313131
					opacity: 0.5
					bottom: 30px
					left: 10px
					right: 10px
					padding: 13px 0 0 40px					
					.main_menu_item_title
						display: block
						text-align: left
						font-size: 21px
						line-height: 24px
						color: #ffffff
						margin-bottom: 5px
					.main_menu_item_amount
						display: block
						text-align: left
						font-size: 15px
						color: #ffffff
				.main_menu_item_bg:after
					position: absolute
					content: ""
					background: url(../img/dots-icon.png) no-repeat
					top: 30px
					right: 40px
					width: 12px
					height: 18px
			.main_menu_item:hover
				.main_menu_item_bg
					height: 100%
					bottom: 0
					padding-top: 263px
				.main_menu_item_bg:after				
					top: 280px
					right: 370px
.popular_goods					
	.popular_goods_top
		padding: 45px 0 35px
		border-top: 1px solid #f2f2f2
		h3			
			color: #404040
			margin-bottom: 25px
			font-size: 45px
		span
			font-style: italic
			line-height: 25px
			font-size: 17px
			color: #404040
	.container		
		ul
			list-style: none
			.popular_goods_item
				height: 480px
				margin-bottom: 20px
				overflow: hidden
				position: relative
				.discount
					position: absolute
					width: 93px
					height: 33px
					background: url(../img/discount-bg.png) no-repeat
					top: 21px
					left: 6px
					color: #ffffff
					font-size: 13px
					text-align: center
					padding-top: 7px
				.zoom
					display: none
				.like
					display: none
				a
					text-decoration: none
					.img_wrapper
						height: 342px
						border: 1px solid #f2f2f2
						border-radius: 3px
						overflow: hidden
						text-align: center
						padding-top: 50px
						margin-bottom: 15px
						img	
							text-align: center
					.popular_goods_item_title
						display: block
						text-align: left
						font-size: 17px
						line-height: 25px
						color: #404040
						margin-bottom: 5px
					.popular_goods_item_description
						display: block
						text-align: left
						font-size: 17px
						line-height: 27px
						color: #bcbcbc
						margin-bottom: 5px				
					.popular_goods_item_price
						float: left
						font-family: $dinpro 			
						font-size: 27px
						color: #ff5a3f
					.popular_goods_item_price +	span
						float: left
						font-size: 15px
						color: #2d2d2d	
						margin-left: 5px
						padding-top: 14px	
					.old_price
						float: left
						font-family: $dinpro 			
						font-size: 15px
						color: #bcbcbc
						text-decoration: line-through
						padding-top: 15px
						margin-left: 20px
					.old_price + span
						float: left
						font-size: 15px
						color: #bcbcbc	
						margin-left: 5px
						padding-top: 15px							
			.popular_goods_item:hover
				.img_wrapper
					background-color: #f7f7f7
					opacity: 0.2
				.zoom

					display: block
					position: absolute
					width: 65px
					height: 65px
					background: url(../img/zoom.png) no-repeat
					top: 138px
					left: 78px
				.like
					display: block
					position: absolute
					width: 65px
					height: 65px
					background: url(../img/like.png) no-repeat
					top: 138px
					left: 152px
.brands
	h3
		padding: 50px 0 40px
		border-top: 1px solid #f2f2f2
		color: #404040
		margin-bottom: 25px
		font-size: 34px
	.container
		.bxslider2
			height: 150px
			overflow: hidden
			.brands_item	
				height: 100%
				.img_wrap
					height: 100px
					border-radius: 3px
					border: 1px solid #f2f2f2
					margin-bottom: 16px
				.hm 
					background: url(../img/hm.png) no-repeat center center
				.nike 
					background: url(../img/nike.png) no-repeat center center
				.decora 
					background: url(../img/decora.png) no-repeat center center
				.rb 
					background: url(../img/rb.png) no-repeat center center
				.puma 
					background: url(../img/puma.png) no-repeat center center
				.rapha 
					background: url(../img/rapha.png) no-repeat center center
				.hm:hover
					background: url(../img/hm-hov.png) no-repeat center center
				.nike:hover 
					background: url(../img/nike-hov.png) no-repeat center center
				.decora:hover 
					background: url(../img/decora-hov.png) no-repeat center center
				.rb:hover 
					background: url(../img/rb-hov.png) no-repeat center center
				.puma:hover 
					background: url(../img/puma-hov.png) no-repeat center center
				.rapha:hover 
					background: url(../img/rapha-hov.png) no-repeat center center
				span
					font-size: 15px
					color: #bcbcbc
		.bx-prev 
			position: absolute
			left: -32px
			top: 40px
			height: 20px
			width: 12px
			background: url(../img/slider2-prev.png) center no-repeat
		.bx-next 
			position: absolute
			right: -32px
			top: 40px
			height: 20px
			width: 12px
			background: url(../img/slider2-next.png) center no-repeat			
.seo
	margin-bottom: 50px
	h3
		padding: 45px 0 30px
		border-top: 1px solid #f2f2f2
		color: #404040
		font-size: 45px		
		line-height: 55px	
	.container
		.seo_text
			font-size: 15px
			color: #2d2d2d
			line-height: 20px
			text-align: left
.footer
	.footer_form
		padding: 20px 0
		background: url(../img/main-form-bg.png)
		margin-bottom: 0
		span
			display: block
			float: left
			font-size: 13px
			color: #ffffff
			text-transform: uppercase
			padding: 13px 30px 0 0
			text-align: left
		input
			float: left
			height: 40px
			width: 365px
			border-radius: 2px
			background: #ffffff
			padding: 0 20px
			font-size: 13px
			color: #bcbcbc
			margin-right: 20px
		input[type="submit"]
			width: 155px
			background: #ff5a3f
			text-align: center
			border: none
			font-size: 13px
			color: #ffffff
			text-transform: uppercase
			margin-right: 0
		input[type="submit"]:hover
			transform: scale(1.1)	
			-webkit-transform: scale(1.1)	
	.footer_menus
		padding: 40px 0 50px
		background: url(../img/footer-bg.png)
		margin-bottom: 0
		.row 
			li
				text-align: left
				p 
					margin-bottom: 20px
					font-size: 17px
					color: #404040
					font-weight: bold
					line-height: 24px
				ul
					li
						margin-bottom: 3px
						a
							font-size: 15px
							color: #404040
							line-height: 29px
						span
							display: block
							margin: 20px 0 15px
							font-size: 17px
							color: #404040
							font-weight: bold
							line-height: 20px
						.social_links
							li
								display: inline-block
								margin-right: 6px
								a
									display: block
									height: 44px
									width: 44px
									text-decoration: none
									background-image: url("../img/social-sprites.png")
								a:hover
									transform: scale(1.1)	
									-webkit-transform: scale(1.1)								
							li:nth-child(1)
								a	
									background-position:  0 0
							li:nth-child(2)	
								a
									background-position: -50px 0
							li:nth-child(3)
								a	
									background-position:  -99px 0
							li:nth-child(4)
								a	
									background-position:  -150px 0
							li:nth-child(5)
								a	
									background-position:  -199px 0	




			


